@import 'config';

.banner-home {
    position: relative;
    background: url('../images/bg_banner_home.png') 50% 100% no-repeat;
    background-size: cover;
    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
        height: 700px;
        padding: 0 60px;
        color: #fff;
    }
    h2 {
        margin-bottom: 20px;
        @include font-medium;
        font-size: 2.8rem;
    }
    p {
        margin-bottom: 50px;
        @include font-light;
        font-size: 1.4rem;
    }
    a {
        display: inline-block;
        text-align: center;
        padding: 0 10px 5px;
        color: inherit;
        border-bottom: 1px solid #42d9fb;
        @include font-bold;
        font-size: 1.2rem;
    }
}
.home-partners {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 60px 0;
    background-color: #f8fafc;
    h3 {
        margin-bottom: 30px;
        font-size: 2.2rem;
        @include font-semi-bold;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    li {
        flex: 1;
        text-align: center;
    }
}
.home-service {
    position: relative;
    padding: 70px 40px;
    text-align: center;
    div:first-child {
        padding-top: 70px;
        margin-bottom: 120px;
        background: url('../images/bg_home_service.svg') 50% 0 no-repeat;
        background-size: 308px 18px;
    }
    h4 {
        margin-bottom: 40px;
        font-size: 2.8rem;
        @include font-semi-bold;
    }
}
.contents-header {
    position: relative;
    margin-bottom: 75px;
    text-align: center;
    h3 {
        margin-bottom: 15px;
        @include font-semi-bold;
        font-size: 2.8rem;
    }
    p {
        font-size: 1.6rem;
    }
}
.list-service {
    position: relative;
    dl {
        padding-top: 140px;
        margin-bottom: 80px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 50% 0;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-of-type(1) {
            background-image: url('../images/ic-home-service1.svg');
            background-size: 124px 116px;
        }
        &:nth-of-type(2) {
            background-image: url('../images/ic-home-service2.svg');
            background-size: 140px 122px;
        }
        &:nth-of-type(3) {
            background-image: url('../images/ic-home-service3.svg');
            background-size: 102px 92px;
        }
        &:nth-of-type(4) {
            padding-top: 100px;
            background-image: url('../images/ic-home-service4.svg');
            background-size: 142px 81px;
        }
    }
    dt {
        font-size: 1.8rem;
        @include font-semi-bold;
    }
    dd {
        margin-top: 12px;
        font-size: 1.6rem;
    }
}
.home-work {
    position: relative;
    height: 558px;
    background: #212a50 url('../images/bg_home_work.svg') 50% 50% no-repeat;
    & > div {
        display: flex;
    }
    a {
        flex: 0 0 100%;
        padding: 70px 50px;
        &:last-child {
            margin-right: 0;
        }
    }
    dl {
        color: #fff;
    }
    dt {
        margin-bottom: 6px;
        @include font-semi-bold;
        font-size: 1.6rem;
        .home-work-thumb {
            margin-bottom: 12px;
            img {
                width: 100%;
            }
        }
    }
    dd {
        font-size: 1.4rem;
        @include ellipsis(3);
    }
}
.home-solutions {
    position: relative;
    padding: 60px 40px;
    text-align: center;
    h2 {
        margin-bottom: 40px;
        @include font-semi-bold;
        font-size: 2.8rem;
    }
    h3 {
        margin-bottom: 15px;
        @include font-semi-bold;
        font-size: 2.8rem;
    }
    p {
        font-size: 1.6rem;
    }
}
.list-solutions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
    li {
        flex: 1;
        padding-top: 60px;
        margin-bottom: 40px;
        text-align: center;
        @include font-semi-bold;
        font-size: 1.4rem;
        background-repeat: no-repeat;
        background-position: 50% 0;
        text-transform: uppercase;
        &:nth-child(1) {
            background-image: url('../images/ic-home-industries-iot.svg');
            background-size: 50px auto;
        }
        &:nth-child(2) {
            background-image: url('../images/ic-home-industries-health.svg');
            background-size: auto 55px;
        }
        &:nth-child(3) {
            flex: 0 0 100%;
            background-image: url('../images/ic-home-industries-education.svg');
            background-size: 50px auto;
        }
        &:nth-child(4) {
            margin-bottom: 0;
            background-image: url('../images/ic-home-industries-retail.svg');
            background-size: 41px 35px;
        }
        &:nth-child(5) {
            margin-bottom: 0;
            background-image: url('../images/ic-home-industries-portal.svg');
            background-size: 50px auto;
        }
    }
}
.banner-swipe {
    position: absolute;
    top: 25px;
    width: 18px;
    height: 21px;
    background-image: url('../images/ic-arrow-scroll.png');
    @include ir;
    &.left {
        left: 50px;
    }
    &.right {
        transform: rotate(180deg);
        left: 90px;
    }
}
.home-news {
    position: relative;
    padding: 60px 40px;
    background-color: #f8fafc;
    .contents-header {
        margin-bottom: 40px;
    }
    li {
        margin-bottom: 70px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-thumb {
        margin-bottom: 18px;
    }
    article {
        margin-bottom: 12px;
        h4 {
            margin-bottom: 12px;
            @include ellipsis(2);
            @include font-semi-bold;
            font-size: 1.6rem;
        }
        p {
            @include ellipsis(3);
            font-size: 1.6rem;
        }
    }
    em {
        font-size: 1.4rem;
        @include font-bold;
        color: #2192d0;
    }
}
.home-contact {
    position: relative;
    padding: 0 40px;
    background-color: #202a50;
    @mixin label-style {
        margin-bottom: 10px;
        font-size: 1.4rem;
        @include font-medium;
        color: #fff;
    }
    &-form {
        padding-top: 105px;
        background: url('../images/bg_contact_form.svg') right 43px top 38px no-repeat;
        h3 {
            margin-bottom: 12px;
            font-size: 2.3rem;
            @include font-semi-bold;
            color: #fff;
        }
        dt {
            @include label-style;
        }
    }
    &-profile {
        margin-bottom: 15px;
        dl {
            margin-bottom: 17px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-question {
        h4 {
            @include label-style;
        }
        label {
            display: none;
        }
        textarea {
            width: 100%;
            margin-top: 10px;
            height: 120px;
        }
        .limit-textarea {
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
            font-size: 1rem;
            color: #fff;
            @include font-medium;
        }
    }
    &-agree {
        position: relative;
        display: flex;
        padding-left: 20px;
        input {
            position: absolute;
            top: 2px;
            left: 0;
            width: 12px;
            height: 12px;
        }
        label {
            font-size: 1rem;
            color: #fff;
            @include font-light;
            a {
                color: inherit;
                border-bottom: 1px solid #fff;
            }
        }
    }
    &-submit {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        button {
            position: relative;
            width: 157px;
            height: 40px;
            font-size: 1.4rem;
            @include font-bold;
            background-color: $color-text-highlight;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &-branches {
        position: relative;
        padding: 60px 0 40px;
        h4 {
            margin-bottom: 20px;
            color: $color-text-highlight;
            font-size: 2.4rem;
            @include font-bold;
        }
        dl {
            margin-bottom: 24px;
        }
        dt {
            margin-bottom: 6px;
            font-size: 1.8rem;
            color: #fff;
            @include font-bold;
        }
        dd {
            font-size: 1.5rem;
            color: #fff;
        }
    }
}
.banner-top {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    &.banner-expert {
        background-image: url('../images/bg_banner_expert.svg');
    }
    &.banner-work {
        background-image: url('../images/bg_banner_work.svg');
    }
    &.banner-about {
        background-image: url('../images/bg_banner_about.svg');
    }
    &.banner-career {
        background-image: url('../images/bg_banner_career.svg');
    }
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        height: 480px;
        padding: 0 40px;
        color: #fff;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 2.8rem;
    }
    p {
        font-size: 1.4rem;
    }
}
.expertise {
    padding: 60px 40px;
}
.detail-service {
    position: relative;
    margin-top: 120px;
    dl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 120px;
        padding-top: 300px;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 290px 279px;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(1) {
            background-image: url('../images/bg_service_device.svg');
        }
        &:nth-child(2) {
            background-image: url('../images/bg_service_cloud.svg');
        }
        &:nth-child(3) {
            background-image: url('../images/bg_service_software.svg');
        }
        &:nth-child(4) {
            background-image: url('../images/bg_service_meta.svg');
        }
    }
    dt {
        margin-bottom: 20px;
        @include font-semi-bold;
        font-size: 2.8rem;
    }
    dd {
        font-size: 1.6rem;
    }
}
.work-solutions {
    position: relative;
    padding: 50px 40px 0;
    text-align: center;
}
.detail-solutions {
    padding: 60px 0;
    background: url('../images/bg_pattern_solutions.svg') left 50% bottom 30px no-repeat;
    &.bgc {
        background-color: #f8fafc;
    }
    & > div:first-child {
        padding: 0 40px;
    }
    .detail-solutions-detail {
        display: flex;
        a {
            flex: 0 0 64%;
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    h4 {
        position: relative;
        margin-bottom: 32px;
        @include font-semi-bold;
        font-size: 2.8rem;
    }
    p {
        margin-bottom: 30px;
        font-size: 1.6rem;
    }
    ul {
        margin-bottom: 65px;
    }
    li {
        position: relative;
        padding-left: 18px;
        margin-bottom: 10px;
        font-size: 1.8rem;
        color: #143654;
        &::before {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #143654;
        }
    }
    dl {
        margin-top: 10px;
    }
    dt {
        margin-bottom: 10px;
        @include font-semi-bold;
        font-size: 1.6rem;
    }
    dd {
        font-size: 1.2rem;
        color: #8d8d8d;
    }
    &-thumb {
        img {
            width: 100%;
            height: auto;
        }
    }
}
.about-us {
    position: relative;
    padding: 60px 40px;
}
.about-result {
    display: flex;
    flex-wrap: wrap;
    dl {
        flex: 0 0 50%;
    }
}
.about-result {
    display: flex;
    flex-wrap: wrap;
    dl {
        flex: 0 0 50%;
        text-align: center;
        margin-bottom: 15px;
        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }
    dt {
        font-size: 4.8rem;
        @include font-bold;
    }
    dd {
        font-size: 1.2rem;
        @include font-semi-bold;
    }
}
.about-different {
    position: relative;
    padding: 60px 35px;
    text-align: center;
    background-color: #f8fafc;
    img {
        width: 100%;
        height: auto;
    }
    &-detail {
        margin-top: 35px;
        padding: 0 50px;
        dl {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        dt {
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 1.2rem;
            @include font-bold;
        }
        dd {
            font-size: 1.2rem;
        }
    }
}
.about-value {
    position: relative;
    padding: 60px 40px;
    .contents-header {
        margin-bottom: 15px;
    }
    img {
        width: 100%;
        height: auto;
    }
    &-detail {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        dl {
            flex: 0 0 1;
            margin-bottom: 30px;
            text-align: center;
            &:nth-child(3) {
                flex-basis: 100%;
            }
            &:nth-last-child(1),
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
        dt {
            margin-bottom: 5px;
            font-size: 1.2rem;
            @include font-bold;
        }
        dd {
            font-size: 1.2rem;
        }
    }
}
.news-view {
    position: relative;
    padding: 60px 40px;
    h2 {
        margin-bottom: 15px;
        font-size: 2.8rem;
        @include font-bold;
    }
    article {
        word-break: break-all;
        font-size: 1.6rem;
    }
}
.news-thumb {
    margin-bottom: 24px;
    img {
        width: 100%;
        height: auto;
    }
}
.news-date {
    font-size: 1.2rem;
    color: #2192d0;
}
.whats-new {
    position: relative;
    padding: 60px 40px;
    background-color: #f8fafc;
    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 2.8rem;
        @include font-semi-bold;
    }
    li {
        position: relative;
        margin-bottom: 70px;
        img {
            width: 100%;
            height: auto;
        }
        h3 {
            margin: 20px 0 12px;
            font-size: 1.6rem;
            @include font-semi-bold;
        }
        article {
            font-size: 1.6rem;
            margin-bottom: 12px;
        }
        a {
            color: #2192d0;
            font-size: 1.4rem;
            @include font-bold;
        }
    }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        a {
            display: block;
            width: 27px;
            height: 28px;
            background-image: url('../images/btn_page_prev.svg');
            @include ir;
        }
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
            transform: rotate(180deg);
        }
    }
    a {
        flex: 0 0 35px;
        text-align: center;
        font-size: 2rem;
        &.focus {
            color: #2192d0;
            @include font-bold;
        }
    }
}
.career-desc {
    position: relative;
    padding: 50px 40px 110px;
    h2 {
        margin-bottom: 30px;
        font-size: 1.6rem;
    }
    &-thumb {
        margin-bottom: 30px;
        img {
            width: 100%;
            height: auto;
        }
    }
    article {
        h3 {
            margin-bottom: 10px;
            @include font-semi-bold;
            font-size: 2.8rem;
        }
        p {
            margin-bottom: 45px;
            font-size: 1.4rem;
        }
        dl {

        }
        dt {
            margin-bottom: 6px;
            @include font-semi-bold;
            font-size: 1.6rem;
        }
        dd {
            margin-bottom: 50px;
            padding-bottom: 6px;
            border-bottom: 1px solid #000;
            font-size: 1.4rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.careers-positions {
    position: relative;
    padding: 0 40px 60px;
    &-thumb {
        margin-bottom: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    h3 {
        margin-bottom: 22px;
        font-size: 2.8rem;
        @include font-semi-bold;
    }
    h4 {
        margin-bottom: 15px;
        padding-bottom: 5px;
        font-size: 1.2rem;
        border-bottom: 1px solid #000;
    }
    dl {
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 0.25px solid #000;
        &:last-child {
            margin-bottom: 0;
        }
    }
    dt {
        margin-bottom: 5px;
        font-size: 1.4rem;
        @include font-semi-bold;
    }
    dd {
        font-size: 1.2rem;
        a {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.4rem;
            color: #4AC8F5;
            @include  font-bold;
        }
    }
}